<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To celebrate Our Women Achievement</title>
    <style>
 @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 500 100%/1.4 system-ui;
  background-color: #ccc;
}
body{
  background:  rgba(225, 215, 243, 1);

  overflow-x: hidden;
}
.head{
  text-align: center;
  padding-top: min(15vh,15rem);
    padding-bottom: min(15vh,10rem);
}
.head p{
  color: rgb(141 135 135);
}
.title{
  text-align: center;
    
}
.women {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0rem;
  padding: 1rem;
}
@media (max-width:790px) {
  .women {
grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

}
}
.card {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  overflow: hidden;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.card> .flag{
  position: absolute;
  top: -7px;
  left: -2px;

}
.card > .flower {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 300/300;
}

.card > h2 {
  margin-top: 1rem;
  font-family: "Kalam", cursive;
  font-weight: normal;
  color: #4a4a7d;
  text-align: center;
  font-size: 2rem;
}
.card > h5 {
  font-family: "Kalam", cursive;
  font-weight: bold;
    
  font-size: 0.8rem;
  color: #4a4a7d;
  text-align: center;
}

.card > p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: #5e5e89;
  text-align: center;
}

    </style>
</head>
<body>

  <div class="head">

    <h1 class="title">To celebrate Our Women Achievement</h1>
    <p>(No matter how much you scroll,it Never <span style="color:red">End</span>)</p>
  </div>
      <section class="women">

      
      </section>  
        
            <script>
                               let womens=document.querySelector(".women");

                                      fetch("/global?page=1",{
                                        method:"GET"
                                      })
                                      .then(res=>res.json())
                                      .then((women)=>{
                                        console.log(women)
                                        for(let index=0;index<women.length;index++){
                                                    womens.innerHTML += `<div class="card" style="transform: rotate(${ (Math.random() * (5 - -5) + -5)+"deg"});">
                                            <img class="flag" src="https://flagsapi.com/${women[index]["iso2"]}/flat/32.png" />
                                                    <img  class="flower" src="./download.png" loading="lazy"/>
                                                  <h2>${women[index]["name"]} </h2>
                                                  <h5>${women[index]["birthYear"]}${women[index]["deathYear"]?"-"+women[index]["deathYear"]:""} </h5>
                                                  <p>${women[index]["impact"]}</p>
                                          </div>`

                                        }

                                      }).catch(err=>console.log(err));
                                      let page=1
                      window.addEventListener("scroll",(event)=>{

                totalHeight=document.documentElement.scrollHeight
                position=document.documentElement.scrollTop+window.innerHeight;
                if(totalHeight<(position+1000)){
                  console.log("fetching")
                  page++;
                  let womens=document.querySelector(".women");
                                fetch("/global?page="+page,{
                                  method:"GET"
                                })
                                .then(res=>res.json())
                                .then((women)=>{
                                  console.log(women)
                                  for(let index=0;index<women.length;index++){
                                              womens.innerHTML += `<div class="card" style="transform: rotate(${ (Math.random() * (5 - -5) + -5)+"deg"});">
                                      <img class="flag" src="https://flagsapi.com/${women[index]["iso2"]}/flat/32.png" />
                                              <img  class="flower" src="./download.png" />
                                            <h2>${women[index]["name"]} </h2>
                                            <h5>${women[index]["birthYear"]}${women[index]["deathYear"]?"-"+women[index]["deathYear"]:""} </h5>
                                            <p>${women[index]["impact"]}</p>
                                    </div>`

                                  }

                                }).catch(err=>console.log(err));


                }
                } )

              
            </script>


</body>
</html>