<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
    <style>
        .main{   
            
            
            background: linear-gradient(to bottom, #B721FF, #2AF598,#fec051, #FEE140, #FA709A )
    
        }
    </style>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

    <main>
            <section class="wrapper">
                <% for( let index = 0; index < 100; index++ ) { %>
                
                    <article  >
                        <div class="card">
    
                            <div class="title">
                
                                <h1>Fatima al-Fihriya</h1>
                                <p class="information">(1980-1820) Morocco</p>
                            </div>
                            <div class="description">
                                <p>Founder of the world's oldest degree-granting university, the University of Al Quaraouiyine in Morocco.</p>
                                <a class="btn" href="https://fr.wikipedia.org/wiki/Fatima_al-Fihriya">Learn More..</a>
                            </div>
                        </div>
                      
                    </article>
                <% } %>
                
               
             
            </section>
    </main>


</body>
</html>